Package: com.popsicletreehouse.settingsnowplaying
Name: SettingsNowPlaying
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Add the now playing view to your settings' background!
Maintainer: PopsicleTreehouse
Author: PopsicleTreehouse
Section: Tweaks
